$bac_wi: #ffffff;
$bac_gr: #f5f5f5;
$col_gr: #b0b0b0;
$col_gr-li: #e7e5eb;
$col_gr-si: #f4f3f6;
$col_gr-sw: #c8c5d1;
$col_bl: #333333;
$col-pur: #9873ff;
$col-pur-li: #b89eff;
$col-pur-sw: #8052ff;
$col-pur-dr: #6839e9;
$col-red: #f06a4d;
